{js:areaSelect}
{js:my97date}
<header class="uc_head">
	<h3>个人资料</h3>
</header>


<section class="user_form">
	<form action='{url:/ucenter/info_edit_act}' method='post' name='user_info'>
		<dl>
			<dt>头像：</dt>
			<dd>
				<div class="user_ico">
					<img id="user_ico_img" onclick="select_ico()" src="{url:$userData['head_ico']}" onerror="this.src='{skin:image/user_ico.gif}'">
				</div>
			</dd>
		</dl>
		<dl>
			<dt>会员组：</dt>
			<dd>{$userData['group_name']}</dd>
		</dl>
		<dl>
			<dt>姓名：</dt>
			<dd><input class="input_text" type="text" name="true_name" alt='请填写真实姓名' /></dd>
		</dl>
		<dl>
			<dt>性别：</dt>
			<dd>
				<label class='attr'><input type='radio' name='sex' value='1' />男</label>
				<label class='attr'><input type='radio' name='sex' value='2' checked=checked />女</label>
			</dd>
		</dl>
		<dl>
			<dt>出生日期：</dt>
			<dd>
				<input type="text" name="birthday" class="input_text Wdate" pattern='date' empty onFocus="WdatePicker()" />
			</dd>
		</dl>
		<dl>
			<dt>所在地区：</dt>
			<dd>
				<select class="input_select" name="province" child="city,area"></select>
				<select class="input_select" name="city" child="area"></select>
				<select class="input_select" name="area"></select>
			</dd>
		</dl>
		<dl>
			<dt>联系地址：</dt>
			<dd><input type='text' class='input_text' name='contact_addr' alt='请填写联系地址' /></dd>
		</dl>
		<dl>
			<dt>手机号码：</dt>
			<dd><input class="input_text" type="text" name='mobile' pattern='mobi' empty alt='请填写正确的手机号码' /></dd>
		</dl>
		<dl>
			<dt>邮箱：</dt>
			<dd>
				<input type='text' class='input_text' name='email' pattern='email' empty alt='请填写正确的邮箱地址' />
			</dd>
		</dl>
		<dl>
			<dt>邮编：</dt>
			<dd><input type='text' class='input_text' name='zip' pattern='zip' empty alt='请填写正确的邮政编码' /></dd>
		</dl>
		<dl>
			<dt>固定电话：</dt>
			<dd><input class="input_text" type="text" name='telephone' pattern='phone' empty alt='请填写正确的固定电话' /></dd>
		</dl>
		<dl>
			<dt>QQ：</dt>
			<dd><input class="input_text" type="text" name='qq' pattern='qq' empty alt='请填写正确的QQ号' /></dd>
		</dl>
		<dl>
			<dt></dt>
			<dd><input class="input_submit" type="submit" value="保存修改" /></dd>
		</dl>
	</form>
</section>


<script type='text/javascript'>
//修改头像
function select_ico()
{
	{set:$callback = urlencode(IUrl::creatUrl('/ucenter/user_ico_upload'))}
	art.dialog.open('{url:/block/photo_upload?callback=$callback}',
	{
		'id':'user_ico',
		'title':'设置头像',
		'ok':function(iframeWin, topWin)
		{
			iframeWin.document.forms[0].submit();
			return false;
		}
	});
}

//头像上传回调函数
function callback_user_ico(content)
{
	var content = eval(content);
	if(content.isError == true)
	{
		alert(content.message);
	}
	else
	{
		$('#user_ico_img').prop('src',content.data);
	}
	art.dialog({id:'user_ico'}).close();
}

//表单回填
var areaInstance = new areaSelect('province');
{if:$userData && $userData['area']}
{set:$area = explode(',',trim($userData['area'],','))}
areaInstance.init({"province":"{$area[0]}","city":"{$area[1]}","area":"{$area[2]}"});
{else:}
areaInstance.init();
{/if}

var formObj = new Form('user_info');
formObj.init({echo:JSON::encode($userData)});
</script>
